---
import Layout from "../layouts/Layout.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import { Form } from "./react/Form";
import { Info } from "./react/Info";
---

<Layout>
	<div
		class="min-h-screen bg-gradient-to-br from-blue-50 to-indigo-100 flex flex-col overflow-x-hidden"
	>
		<Header />
		<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
			<div class="grid grid-cols-1 md:grid-cols-5 gap-4 lg:gap-8">
				<!-- banner -->
				<Info client:load />
				<Form client:load />
			</div>
		</main>
		<Footer />
	</div>
</Layout>
